/*
* ===========================
* Sideqst Design System 1.0.0
* ===========================
*
* Copyright 2021 Sideqst
*/

/* Import Sen font */
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p.bold {
  font-weight: bold;
}

:root {
  font-size: 16px;

  /* typography sizes in px */
  --web-xxl: 40px;
  --web-xl: 32px;
  --web-lg: 24px;
  --web-md: 20px;
  --web-sm: 18px;
  --web-xs: 16px;
  --web-xxs: 14px;
  --web-tny: 12px;

  /* color variables follow the naming convention of <type>-<theme>-<item>-<variant>-<state> */

  /* background colors */
  --color-light-background: #ffffff;
  --color-light-background-alt: #f5f5f5;
  --color-dark-background: #21262b;
  --color-dark-background-alt: #282d34;

  /* default */
  --color-light-button-bg: #b3b9c1;
  --color-light-button-bg-hover: #d9dce0;
  --color-light-button-bg-disabled: #e8e8e8;
  --color-dark-button-bg: #404f64;
  --color-dark-button-bg-hover: #667283;
  --color-dark-button-bg-disabled: #e8e8e8;

  /* primary */
  --color-light-button-bg-primary: #696bc9;
  --color-light-button-bg-primary-hover: #787ace;
  --color-light-button-bg-primary-disabled: #b4b5e4;
  --color-dark-button-bg-primary: #5456a1;
  --color-dark-button-bg-primary-hover: #5f60b5;
  --color-dark-button-bg-primary-disabled: #b4b5e4;

  /* confirm */
  --color-light-button-bg-confirm: #59ebd6;
  --color-light-button-bg-confirm-hover: #6aedda;
  --color-light-button-bg-confirm-disabled: #acf5eb;
  --color-dark-button-bg-confirm: #47bcab;
  --color-dark-button-bg-confirm-hover: #50d4c1;
  --color-dark-button-bg-confirm-disabled: #acf5eb;

  /* danger */
  --color-light-button-bg-danger: #eb596e;
  --color-light-button-bg-danger-hover: #ed6a7d;
  --color-light-button-bg-danger-disabled: #f5acb7;
  --color-dark-button-bg-danger: #bc4758;
  --color-dark-button-bg-danger-hover: #d45063;
  --color-dark-button-bg-danger-disabled: #f5acb7;

  /* all colors as they appear in the design system */
  --color-night: #21262b;
  --color-slategray: #282d34;
  --color-nightlight: #333f50;
  --color-grayhaze: #404f64;
  --color-rainydaygray: #667283;
  --color-foggygray: #8c95a2;
  --color-mistyrain: #b3b9c1;
  --color-graysmoke: #d9dce0;
  --color-wispygray: #e8e8e8;
  --color-offwhite: #f5f5f5;
  --color-purewhite: #ffffff;
  --color-blue: #696bc9;
  --color-darkblue0: #5f60b5;
  --color-darkblue1: #5456a1;
  --color-darkestblue: #353665;
  --color-lightblue0: #787ace;
  --color-lightblue1: #8789d4;
  --color-lightestblue: #b4b5e4;
  --color-purple: #8d59eb;
  --color-darkpurple0: #7f50d4;
  --color-darkpurple1: #7147bc;
  --color-darkestpurple: #472d76;
  --color-lightpurple0: #986aed;
  --color-lightpurple1: #a47aef;
  --color-lightestpurple: #c6acf5;
  --color-cyan: #59ebd6;
  --color-darkcyan0: #50d4c1;
  --color-darkcyan1: #47bcab;
  --color-darkestcyan: #2d766b;
  --color-lightcyan0: #6aedda;
  --color-lightcyan1: #7aefde;
  --color-lightestcyan: #acf5eb;
  --color-red: #eb596e;
  --color-darkred0: #d45063;
  --color-darkred1: #bc4758;
  --color-darkestred: #762d37;
  --color-lightred0: #ed6a7d;
  --color-lightred1: #ef7a8b;
  --color-lightestred: #f5acb7;
  --color-yellow: #c9c769;
  --color-yellow-dark0: #b5b35f;
  --color-yellow-dark1: #a19f54;
  --color-yellow-light0: #cecd78;
  --color-yellow-light1: #d4d287;
  --color-yellow-lightestyellow: #e4e3b4;
  --color-yellow-darkestyellow: #656435;
}

/* typography scalings */
/* 1 rem ~ 16px */

/* 40px */
h1 {
  font-size: 2.5rem;
}

/* 32px */
h2 {
  font-size: 2rem;
}

/* 24px */
h3 {
  font-size: 1.5rem;
}

/* 20px */
h4 {
  font-size: 1.25rem;
}

/* 18px */
h5 {
  font-size: 1.125rem;
}

/* 16px */
h6 {
  font-size: 1rem;
}

/* 14px */
p {
  font-size: 0.875rem;
}

/* 12px */
p.small {
  font-size: 0.75rem;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  background-color: #667283;
}

body {
  margin: 0;
}

html *:not(head *):not(script):not(style) {
  display: flex;
}

.create-post-content {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  width: 60%;
  max-width: 800px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-width: 0px;
  outline: none;
  background-color: transparent;
}
.create-post-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(33, 38, 43, 0.5);
  padding: 0px;
  z-index: 100;
}

@media only screen and (max-width: 640px) {
  .create-post-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-width: 0px;
    outline: none;
    background-color: transparent;
  }
}

input[type="file"] {
  display: none;
}

html,
body {
  min-height: 100%;
}
